* {
  margin: 0;
}

body {
  overflow: hidden;
}

.bg_image {
  background-image: url('./img/windowsXP_Background.jpg');
  background-size: cover;
  height: 100vh;
}

.draggable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.draggable p {
  color: white;
  text-shadow: 2px 2px #000;
}
.taskbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  background-image: linear-gradient(#2497da, #245DDA 20%);
  background-size: cover;
  color: white;
  font-family: 'Segoe UI';
}


.start {
  display: flex;
  align-items: center;
  padding-right: 30px;
  background-image: linear-gradient(#47bf41, #34912f 20%);
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
  border-radius: 0 15% 15% 0;
}

.start #icon {
  padding: 4px 10px;
}

.task {}

.tray {
  display: flex;
  align-items: center;
  background-image: linear-gradient(#10dae8, #0da3ef 20%);
  padding: 10px;

}
.tray * {
  padding: 5px;
}

.tray * {
  text-align: center;
}